{% extends 'base.html'%}
{% load static%}
{% block content%}
							<!-- Content -->
								<section>
									<header class="main">
										<h1>{{ recipe.title }}</h1>
									</header>

									<span class="image main"><img src="{{ recipe.get_image }}" style="width: auto; height: auto" alt="" /></span>

									<p>Posted: {{ recipe.created }}</p>
									<p>Author: {{ recipe.user }}</p>
									<p>Cooking Time: {{ recipe.cooking_time }} min</p>
									<hr class="major" />
									{% for image in images %}
									<img src="{{ image }}"  class="img-thumbnail" alt="...">
									{% endfor %}
									<h2>Пошаговая рецептура</h2>
									<p>{{ recipe.description }}</p>
									<a href="{% url 'update-recipe' recipe.id %}"><i class="fas fa-edit"></i></a>
								</section>

{% endblock %}